* {
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  max-width: 720px;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 0 0 8px 0;
  font-size: 20px;
}

p {
  margin: 0 0 8px 0;
  font-size: 16px;
}

.price {
  margin: 8px 0;
}

.circlePrice {
  height: 38px;
}

.squarePrice {
  height: 38px;
}

input ~ input {
  margin-top: 8px;
}